[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/shibui"]
	path = themes/shibui
	url = git@github.com:ntk148v/shibui.git
